body {
    background-color: #173150;
}

nav {
    height: 100px;
}

.footer {
    height: 200px;
}

.event-card {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

img.event-img {
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.event-box {
    width: 85%;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    display: block;
    margin: auto;
}

.events .event-card:nth-of-type(odd) .event-box {
    background-color: #65C1FF;
}

.events .event-card:nth-of-type(even) .event-box {
    background-color: #FFD86F;
}

.event-title {
    text-align: center;
    margin: 20px 0;
}

.event-detail {
    text-align: justify;
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .event-card {
        display: flex;
        margin: 5% 5%;
    }
    .events .event-card:nth-of-type(odd) {
        flex-direction: row;
    }
    .events .event-card:nth-of-type(even) {
        flex-direction: row-reverse;
    }
    img.event-img {
        width: 50%;
        border-radius: 10px;
        display: block;
        margin: 0;
    }
    .event-box {
        width: 50%;
        display: block;
        margin: 3% 0;
    }
    .events .event-card:nth-of-type(odd) .event-box {
        border-radius: 0 10px 10px 0;
    }
    .events .event-card:nth-of-type(even) .event-box {
        border-radius: 10px 0 0 10px;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .events {
        width: 80%;
        display: block;
        margin: auto;
    }
    img.event-img {
        width: 40%;
        border-radius: 10px;
        display: block;
        margin: 0;
    }
    .event-box {
        width: 60%;
        border-radius: 0 10px 10px 0;
        display: block;
        margin: 3% 0;
    }
}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .events {
        width: 90%;
        display: block;
        margin: auto;
    }
    img.event-img {
        width: 45%;
        border-radius: 10px;
        display: block;
        margin: 0;
    }
    .event-box {
        width: 55%;
        border-radius: 0 10px 10px 0;
        display: block;
        margin: 2% 0;
        padding: 20px;
    }
}